  
/*fonts*/
$primery-text: "Raleway", sans-serif;
$secondary-text: "Playfair Display SC", serif;

/*font-sizes*/
$primery-font-size: 15px;


/*colors*/
$first-text-color:#F6F6F6;
$second-text-color: #1D1C21;
$button-color: #d8d8d9;
$hover-color: #FF0E0E;
$title-color: #89898B;
$form-text-color : #f38181;
$border-color: #89898B;