header {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url("../images/heder_bg.jpg");
    height: 670px;
    background-size: 103% 103%;
    background-repeat: no-repeat;
}